:root {
    /*cores e imgs*/
    --theme-button:url("./img/lua.png");
    --insta-logo: url('./img/instagram-logo.png');  
    --img-google: url('./img/googleplay-button.png');  
    --img-apple: url('./img/apple-button.png');  
    --body-bg-color: rgb(243, 243, 243);
    --group-border-color:lightgray;
    --group-bg-color:#ffffff;
    --login-bg-color:#0095f6;
    --login-color: #ffffff;
    --logout-color:#0095f6;
    --not-account-color:rgb(160, 160, 160);
    --link-blue-color:#0095f6;
    --get-the-app-color:none;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: sans-serif;
    font-size: 14px;
}

body {
    width: 100%;
    min-height: 100vh;
    background-color: var(--body-bg-color);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

.instagram-wrapper {
    display: flex;
    align-items: center;
    justify-content: start;
    width: 60%;
    height: 100vh;
}

.instagram-phone {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
}

.instagram-phone img {
    height: 50rem;
}

.instagram-continue {
    display: flex;
    align-items: center; /* horizontal */
    justify-content: space-around; /* vertical */
    flex-direction: column;
    width: 50%;
    min-height: 34rem;
}

#theme-selector{
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-family: sans-serif;
    font-size: 14px;
    color:var(--get-the-app-color);
    background: none;
}

.group {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    background-color: var(--group-bg-color);
    width: 100%;
    padding: 1.3rem 0;
    border: 1px solid var(--group-border-color);
    margin-block-end: 3px;
}

.group:nth-child(1) {
    min-height: 19rem;
    background-repeat: no-repeat;
    background-position:top, center;
    background-position-y: 6%;
    background-size: 35%;
}

.instagram-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 4.5rem;
    width: 70%;
    background-image: var(--insta-logo);
    background-position-x: center;
    background-repeat: no-repeat;
    background-size: 50%;
}

.profile-photo {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    overflow: hidden;
    margin-bottom: 5px;
}

.profile-photo img {
    height: 6rem;
}

.instagram-login {
    background-color: var(--login-bg-color);
    color:var(--login-color);
    padding: 8px;
    border-radius: 4px;
}

.instagram-logout {
    color: var(--logout-color);
    margin-top: 1rem;
}

.not-account {
    color:var(--not-account-color);
}

.link-blue {
    color:var(--link-blue-color);
}

.get-the-app {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 1.3rem 0;
    color:var(--get-the-app-color);
}

.download {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    padding: 1rem;
}

.app-download {
    height: 3rem;
    width: 10rem;
    background-size: cover;
}

.app-download:nth-child(1) {
    background-image: var(--img-apple);
}

.app-download:nth-child(2) {
    background-image: var(--img-google);
}

/* media queries */


@media (max-width: 1024px) {
    .instagram-wrapper {
        width: 90%;
    }
}

@media (max-width: 650px) {
    body {
        background-color: var(--body-bg-color);
    }

    .instagram-wrapper {
        width: 90%;
    }

    .instagram-phone {
        display: none;
    }

    .instagram-continue {
        width: 100%;
    }
    
    .group {
        border: 1px solid transparent;
    }
}
@media (prefers-color-scheme: light) {
    .light {
      display: none;
    }
  }

@media (prefers-color-scheme: dark) {
    .dark {
        display: none;
      }
      .app-download:nth-child(2) {
        background-image: var(--img-google);

    }
    .app-download:nth-child(1) {
        background-image: var(--img-apple);
    }

    .group:nth-child(1) {
    background-image: var(--insta-logo);
    }
    
    :root{
      --theme-button:url('./img/Sol.png');  
      --insta-logo: url('./img/instagram-logo2.png');  
      --img-google: url('./img/googleplay-button3.png');  
      --img-apple: url('./img/apple-button2.png');  
      --body-bg-color: #242424;
      --group-border-color:#696767;
      --group-bg-color:#121212;
      --login-color: #F9FDFF;
      --not-account-color:#F9FDFF;
      --get-the-app-color:white;
    }
}